{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<article>
    {% for image in entry.newsImage %}
    <img src="{{ image.url }}">
    {% endfor %}
		<h1>{{ entry.title }}</h1>
		<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
		<p>{{ entry.newsBody }}</p>
	</article>
  <aside>
    <h2>Recommended Books</h2>
    <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "false";
amzn_assoc_tracking_id = "leogeckos-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "My Amazon Picks";
amzn_assoc_linkid = "a0eaa5ae09ccfe06cca11f66b0565dcb";
amzn_assoc_asins = "1882770625,0470121602,1484910583,047003792X,B005QR8G2Q,079382883X";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
  </aside>
{% endblock %}
